.menu{
    height: 95vh;
}
.menu_display{
    width: 360px;
    transition: width 0.5s;

}
.menu_hide{
    width: 140px;
    transition: width 0.5s;
}
.test_animation{
    width: 200px;
    height: 100px;
    background-color: red;
    transition: width 2s;
}
.test_animation_click{
    width: 400px;
    height: 100px;
    background-color: red;
    transition: width 2s;

}
.sidebar{
    width: 250px;
    height: 95vh;
    transition: width 0.5s;
}
.hide_sidebar{
    width: 77px;
    height: 95vh;
    transition: width 1s;

}
